/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";


.signed-in {
background: orange;
    padding: 1em;
}

.form-control {
    border-radius: 0px !important;
}

.jumbotron {
    background: rgba(155, 239, 26, 0.31) !important;
    a:hover {
        text-decoration: none;
    }
    .j-header {
        font-size: 1.2em;
    }
    ul {
        padding-left: .5em;
    }
    li {
        font-size: 1.2em;
        list-style: none;
    }
}

.glyphicon-lock,
.glyphicon-user {
    font-size:.9em;
    padding: 0 .5em 0 .2em;
}

a.media:hover {
    text-decoration: none;
}

a {
    color: rgb(57, 125, 57);
}

a:focus,
a:hover {
    color: rgb(38, 93, 29);
}

.nav-tabs > li > a {
    border-radius: 0px;
}