// Place all the styles related to the wiki controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SHOW VIEW
.wiki-body {
    margin: .3em 0 1em 0em !important;
}

.wiki-body-content {
    padding: 1.5em 1em;
    height: 7em !important;
    background: rgba(155, 239, 26, 0.31) !important;
    border-radius: 0 0 10px 10px;
}

.wiki-header {
    background: #b1d28e;
    box-shadow: 0px 0px 0px 3px rgb(92, 184, 92);
    padding: .3em;
    position: relative;
}

// INDEX VIEW
.wiki-index-tile {
    background: white !important;
    box-sizing: border-box;
    color: black !important;
    border-color: white;
    transition: border-left .3s ease-in;
}

.wiki-index-tile:hover {
    background: rgba(155, 239, 26, 0.31) !important;
    text-decoration: none;
}

.wiki-index-btn {
    width: 50%;
    border-radius: 0px !important;
}

.wiki-tile-body {
    line-height: 1.2em;
}

.wiki-tile-author {
    border-left: solid 5px green;
}

.form-group .checkbox {
    margin-left: 2em !important;
}

.form-control:focus {
    
}